* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.maps {
    background-color:;
    border: 1px solid gray;
    height: 300px;
    margin-top: 0px;
}

.titolo {
    border: 1px solid gray;
    height: 50px;
    margin-top: 5px;
}
.sfondo-grey {
    width: 100%;
    height: 350px;
    background-color: lightgrey;
    margin-top: 50px;
}

.icone {
    border: 1px solid gray;
    height: 100px;
    margin-top: 0px;

}
